* {
    margin: 5;
    padding: 0;
    font-family: Poppins, Verdana, Tahoma, Arial, "sans serif";
}

body {
    text-align: center;
    background-color: teal;
    color: LightCyan;
}

header {
    background-color: DarkSlateGray;
    color: rgb(134, 184, 138)
}

header h1 {
    font-size: 4em;
    margin: 0.5em;
    padding: 0em;

}

header nav {
    text-align: start;
    list-style-type: none;
}

header nav li a {
    outline: none;
    text-decoration: none;
}

header nav button a {
    outline: none;
    text-decoration: none;
}


a:link {
    color: #51c405;
}

a:visited {
    color: #e2f8b9;
}


button {
    outline-width: 2px;
    border-width: thin;
    text-decoration-line: none;
    text-decoration-color: none;
    background-color: DarkSlateGray;
    border-color: Black;
    color: PaleGreen;
}

fieldset button input {
    outline-width: 2px;
    border-width: thin;
    text-decoration-line: none;
    text-decoration-color: none;
    background-color: DarkSlateGray;
    border-color: Black;
    color: PaleGreen;
}

body p {
    margin: 0.5em;
    padding: 0.5em;
    text-align: justify;
}

body span {
    text-align: start;
}


footer {
    background-color: DarkSlateGray;
    color: rgb(134, 184, 138)
}

footer p {
    text-align: start;
    padding: 0em;
    font-size: x-small;
}